---
import Page from '../Page.astro';
---

<Page>
	<nav aria-label="Examples">
		<h2>Examples</h2>
		<ul>
			<li><a href="/hello-world">Hello World</a></li>
			<li><a href="/conditional-rendering">Conditional Rendering</a></li>
			<li><a href="/list">List</a></li>
			<li><a href="/loader">Loader</a></li>
		</ul>
	</nav>
</Page>
